body {
  padding: 0;
  margin: 0;
}

.middle {
  /* position: absolute; */
  top: 50%;
  /* width: 100%; */
  text-align: center;
  /* transform: translateY(-50%); */
}

.btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  color: #3498db;
  margin: 5px;
  border-radius: 30%;
  /* position: relative; */
  box-shadow: 0 2px 5.2px -2px #00000070;
}

.btn i {
  line-height: 30px;
  font-size: 14px;
  transition: 0.2s linear;
}

.btn:hover i {
  transform: scale(1.2);
}

.yt {
  color: red;
}

.twitter {
  color: #1da1f2;
}

.fb {
  background: #0e8bf1;
  color: #ffff;
}

.inst {
  color: #fff;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
